<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="https://softwarereviews.s3.amazonaws.com/production/logos/offerings/1578/original/187a5df2-5ce3-42f2-b70c-af790025d3f2giesecke___devriant_logo.png?1516292012" />
  <span>G+D Project - Asymmetric Encrypt/Decrypt</span>
</div>

<div class="container">
  <h1>Asymmetric Encryption</h1>
  <!--Encryption UI Code-->
  <br>
  <form class="container" [formGroup]="AsymDataform">
    <div class="form-group">
      <label for="website">Choose Your Option:</label>
      <select formControlName="Mode" class="form-control" (click)="changeMode()">
        <option>Encryption</option>
        <option>Decryption</option>
      </select>
    </div>
    <!--
      <div class ="form-group" >
        <label>Choose Your Algorithm:</label>
        <select formControlName="Alg" class="form-control" (click)="changeAlgo()">
          <option></option>
          <option></option>
          <option></option>
        </select>
      </div>
      -->

    <div class="form-group">
      <br>
      <br>
      <label for="txtTextToConvert">{{ encryptMode ? "Plain" : "Encrypted" }} Text</label>
      <input formControlName="Text" type="text" class="form-control"
        placeholder="Enter text you want to {{ encryptMode ? 'encrypt' : 'decrypt' }}">
    </div>
    <br>

    <div class="form-group">
      <label for="txtPassword">Key</label>
      <input formControlName="Pass" type="text" class="form-control"
        placeholder="Enter {{ encryptMode ? 'encryption' : 'decryption' }} password">
    </div>
    <br>
  </form>
  <div  class="row container">
  <label>{{ publiKeyLabel ? 'Output Text' : 'Public Key' }}</label>
  <textarea class="form-control" readonly rows="3">{{conversionOutput}}</textarea>
</div>
<br>
  <div *ngIf="isShown" class="row container" id="divshow">
    <label>Private Key</label>
    <textarea class="form-control" readonly rows="3">{{conversionOutput2}}</textarea>
  </div>

  <br>
  <br>
  <span>
    <button type="checkbox" class="btn btn-success" style="margin:5px;"
      (click)="convertText()">{{ encryptMode ? "Encrypt" : "Decrypt" }}</button>

    <button type="button" class="btn btn-success" style="margin:5px;" (click)="generateKeys()">Generate Key</button>
  </span>